version: '3'
services:
  db:
    image: mysql:5.7
    volumes:
      - ./tmp/db:/var/lib/mysql2/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
            MYSQL_ROOT_PASSWORD: 0
    ports:
            - "3307:3306"
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    #volumes:
    #  - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file: .env
